@use "../abstracts/" as *;

/*
--------------------|📝 : Reset
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
--------------------|📝 : Tag
*/

html {
  //----------|✏️ : This defines what 1rem is.
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
}

ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
button {
  direction: rtl;
}

/*
--------------------|📝 : Text selection
*/

::selection {
  color: $color-primary;
}

/*
--------------------|📝 : App
*/

.app {
  height: 100vh;
  padding: 2rem 2rem 2rem 0;
  @include grid(2) {
    grid-template-columns: 8rem 1fr;
  }
  overflow: hidden;
  box-sizing: border-box;
  background-color: $color-black;
}
