/*
--------------------|📝 : Font
*/

@font-face {
  font-family: "Lalezar";
  src: url("../../font/Lalezar-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Lalezar", sans-serif;
}
