@use "../abstracts/" as *;

/*
--------------------|📝 : Utilities
*/

.u-title-one{
    color: $color-white;
    font-size: 8.9rem;
}

.u-paragraph{
    color: $color-white;
    font-size: 2.4rem;
}

