@use "../abstracts/" as *;

/*
--------------------|📝 : Utilities
*/

.u-title-one{
    color: $color-white;
    font-size: 8.9rem;
    text-shadow: 0.8rem 0.4rem 0.2rem $color-black;
}

.u-paragraph{
    color: $color-white;
    font-size: 2.4rem;
}

