@use "../abstracts/" as *;

/*
--------------------|📝 : Utilities
*/

.u-title-one {
  color: $color-white;
  font-size: 8.9rem;

  @include respond(tab-port) {
    font-size: 7.4rem;
  }

  @include respond(phone) {
    font-size: 5.2rem;
  }
}

.u-paragraph {
  color: $color-white;
  font-size: 2.4rem;
}
