@use "../abstracts/" as *;

/*
--------------------|📝 : App
*/

.app {
  height: 100vh;
  padding: 2rem 1rem;
  @include grid(2) {
    grid-template-columns: 8rem 1fr;
  }
  overflow: hidden;
  box-sizing: border-box;
  background-color: $color-black;
}
