@use "../abstracts/" as *;

/*
--------------------|📝 : Main
*/

main {
  height: 100%;
  border-radius: 2rem;
  background-color: $color-black-light-1;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.5rem 1.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 2rem;
  }

  &::-webkit-scrollbar-button {
    width: 1.6em;
    height: 1.6rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-black-light-2;
    border-radius: 1rem;
    border: 0.6rem solid $color-black-light-1;
  }

  section {
    padding: 12rem 2rem 6rem;
  }

  .contact-us {
    &__content {
      @include flex(10, center, center);

      @include respond(tab-port) {
        @include flex(8, center, center, column);
      }

      p {
        font-size: 2.2rem;
        color: $color-white;

        a {
          font-size: 3rem;
          color: $color-primary;
        }
      }
    }
  }
}
