/*
--------------------|📝 : Colors
*/

//----------|✏️ : As the number increases, the color becomes lighter.

$color-primary: #2b90d9;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray: #9c9c9c78;

$color-white: #d9e1e8;

$color-black: #101216;
$color-black-light-1: #1c1f27;
$color-black-light-2: #282c37;
